// Angular
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")

//Angular UI Bootstrap
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap.js")
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="/vendor/angular-ui-utils/ui-utils.js")

//Angular App Init
script(type="text/javascript", src="/js/app.js")
