div.topmenu
    ul.dropdown.clearfix.boxed
        li(ng-class="navClass('foodhacks')")
            a(href="#/foodhacks") Food Hacks
        li
            a(href="#/lifehacks") SMU Life Hacks
        li
            a(href="#/comments", highlight) Comments
        li
            a(href="#/justforlaughs") Just For Laughs
        li
            a(href="#/nobrainday") No Brain Day