doctype html
html(ng-app="smurvive")
    include ../includes/head
    //- body.navbar.navbar-inverse.navbar-fixed-top(ng-include="'views/header.html'", data-role="navigation")
    body(ng-include="'views/navbar.html'", role="navigation")
        section.container
            block content
    include ../includes/foot